@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.covering::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    
    background-color: rgba(0,0,0,0.55);
}
.extra::before,
.extra::after{
    content: '';
    height: 5px;
    display: block;
    width:90px;
    background-color: palevioletred;
    position: absolute;  
}

.extra::before{
    left: -20px;
}
.extra::after{
    right:-20px;
}